html{
    background-image: url("4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.to_main{
    color: #ffffff;
    text-decoration: none;
}

.to_main a{
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px 200px; 
    grid-template-rows: 200px 200px 200px 200px 200px; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". box1 box1 . ."
    ". box box box ."
    ". box box box ."
    ". box box box ."
    ". . . . ."; 
      justify-content: center;
  }

.box { 
    grid-area: box; 
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
}

.box1{
    grid-area: box1;
    margin: 3em;
}

.registerbtn {
    background-color: #3329c2;
    color: white;
    padding: 16px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    font-size: 1.2em;
}

.registerbtn:hover {
    opacity:1;
}

.l_img{
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    background: #d7e2ff;
}
